snippet script
	%script{:type=>'text/javascript', :src='${1:src}'}
snippet p
	%p
snippet h1
	%h1
snippet html
	!!! 5
	%html
		%head
			%title ${1:title}
			%link{:type=>'text/css', :href=>'${2:css/app.css}', :rel=>'stylesheet'}
		%body
			${3:content}
