!!! 5
%html
  %head
    %title main
    %link{:type=>'text/css', :href=>'css/app.css', :rel=>'stylesheet'}
  %body
    #container
      #banner
      #sidebar
      #content
        #footer
    %script{:type=>'text/javascript', :src='js/app.js'}
